<div *ngIf="isLoading" class="text-center text-gray-500">Loading lessons...</div>

<div *ngIf="!isLoading" class="w-full mx-auto p-4 min-h-[600px]">
  <!-- Progress bar -->
  <div class="w-full bg-gray-300 h-2 rounded mb-6 relative">
    <div
      class="absolute top-0 left-0 h-2 bg-blue-500 rounded transition-all duration-300"
      [style.width.%]="((currentStep + 1) / steps.length) * 100">
    </div>
  </div>

  <div class="flex flex-col justify-between min-h-[700px]">
    <!-- Step content -->
    <div class="mb-6">
      <h2 class="text-xl font-semibold mb-2">{{ steps[currentStep]?.title }}</h2>


<div class="ql-container ql-snow">
  <div class="ql-editor" [innerHTML]="steps[currentStep]?.content | safeHtml"></div>
</div>
      <!-- Questions and Answers -->
      <div *ngFor="let q of steps[currentStep]?.questions" class="mb-4">
        <p class="font-semibold mb-1">{{ q.questionText }}</p>
        <div *ngFor="let a of q.answers" class="flex items-center gap-2 mb-1">
          <input
            type="radio"
            [name]="'question_' + q.questionId"
            [value]="a.id"
            [(ngModel)]="q.selectedAnswerId"
            [disabled]="steps[currentStep]?.isCompleted"
            class="accent-blue-500"
          />
          <label>{{ a.label }}</label>
        </div>
      </div>
    </div>


    <!-- Navigation buttons -->
    <div class="flex justify-between">
      <button
        (click)="prevStep()"
        [disabled]="currentStep === 0"
        class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 disabled:opacity-50">
        Back
      </button>

      <button
        (click)="nextStep()"
        [disabled]="!isStepCompleted(steps[currentStep])"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 disabled:opacity-50">
        {{ currentStep === steps.length - 1 ? 'Finish' : 'Next' }}
      </button>
    </div>
  </div>
</div>
